@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #090909;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto;
	padding: 10px 0;
}

.selectbox {
	width: 50%;
	margin: auto;
	position: relative;
}

.select {
	background: #222;
	width: 100%;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
	padding: 10px 0 10px 10px;
	position: relative;
}

.select i {
	font-size: 23px;
	margin-right: 13px;
	color: #ddd;
}

.titulo {
	margin-bottom: 10px;
	color: #ddd;
	font-weight: 600;
	font-size: 16px;
}

.descripcion {
	font-size: 14px;
	color: #ddd;
}

.opciones {
	background: #191919;
	border-radius: 10px;
	max-height: 400px;
	overflow: auto;
	width: 100%;
	display: none;
}

.opciones.active {
	display: block;
	animation: fadeIn .3s forwards;
}

@keyframes fadeIn {
	from {
		transform: translateY(-100px) scale(.5);
	}
	to {
		transform: translateY(0) scale(1);
	}
}

.contenido-opcion {
	width: 100%;
	display: flex;
	align-items: center;
	transition: .2s ease all;
}

.opciones .contenido-opcion {
	padding: 9px;
}

.opciones .contenido-opcion:hover {
  background: #101010;
}

.sinopsis {
  padding: 0 15px;
  color: #eee;
  font-size: 13px;
  text-align: justify;
  margin-bottom: 10px;
}

/*Chapters*/

.episodes {
	overflow: auto;
	z-index: 100;
	width: 100%;
	display: block;
}

.episodes .contenido-opcion {
	background: #090909;
	padding: 0 10px 14px 10px;
}

.episodes .contenido-opcion:hover {
  background: #000;
}

.contenido-opcion img {
	width: auto;
	height: 50px;
	margin-right: 20px;
	border-radius: 2px;
}

/*Responsive*/

@media screen and (max-width: 800px){
	.selectbox {
		width: 100%;
	}
}






/*Cards*/
.card {
	width: 100%;
	height: 100vh;
	max-width: 1100px;
	position: fixed;
  font-family: 'Montserrat', sans-serif;
  top: 50%;
  transform: translateY(-50%);
	background: rgba(2, 2, 2, .7);
	display: none;
}

.contenedor-card {
  width: 95%;
  position: fixed;
  background: #111;
  border-radius: 7px;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  left: 0;
  right: 0;
}

.card .contenido-card h4 {
  text-align: center;
	margin-bottom: 10px;
	color: #ddd;
}

.card .contenido-card p {
  padding: 0 10px 10px ;
	line-height: 1.5;
	color: #ddd;
	font-size: 14px;
	margin-bottom: 5px;
	text-align: justify;
}

iframe {
  border-radius: 7px 7px 0 0;
}

.close {
  font-size: 50px;
  color: #fff;
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  z-index: 100;
}
